{% extends "base.html" %}
{% block body %}
<main>
    <div class="container mynav">
        <div class="sign-in-form">
            <div class="sign-in-form-top">
                <h1>Change Password</h1>
            </div>
            <div class="signin">
                <form class="form" method="post">
                    {% csrf_token %}
                    {{form}}
                        <input type="submit" class="btn btn-primary" value="Change Password">
                </form>
            </div>
          </div>
    </div>
</main>
{% endblock body %}
